@model List<FieldAgent.Core.Entities.Agency>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Add">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                AgencyID
            </th>
            <th>
                Agency ShortName
            </th>
            <th>
                Agency LongName
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var a in Model)
        {
            <tr>
                <td>
                    @a.AgencyId
                </td>
                <td>
                    @a.ShortName
                </td>
                <td>
                    @a.LongName
                </td>
                <td>
                    <a asp-controller="Agency" asp-action="Edit" asp-route-id="@a.AgencyId">Edit</a> |
                    <a asp-controller="Agency" asp-action="Delete" asp-route-id="@a.AgencyId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
